@media only screen and (max-width:1400px) and (min-width:993px) {

    /* Gallery Section */
    .position {
        display: block;
    }

    #slidesIndicator {
        width: 100%;
        position: absolute;
        left: 2rem;
    }

    .gallery-img {
        left: 0;
        width: 210px;
    }

    .carousel-indicators {
        top: 10.5rem;
        left: 2rem;
    }
}

/* Tablet Display */
@media only screen and (max-width:992px) and (min-width:700px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }

    .bodyTxt>p {
        display: block;
        position: relative;
        width: 700px;
        height: 100px;
        left: 120px;
        text-align: left;
    }

    .bodyBottomPara {
        width: 500px;
        /* border: 1px solid red; */
        height: 100px;
        text-align: left;
        align-items: baseline;
        position: relative;
        left: 142px;
        bottom: 172px;
    }

    /* Gallery Section */
    .position {
        display: block;
    }

    #slidesIndicator {
        width: 100%;
        position: absolute;
        left: -50px;
    }

    .gallery-img {
        left: 0;
        width: 200px;
    }

    .carousel-indicators {
        left: 158px;
    }

    /* Event Section */
    .event {
        height: 456px;
    }

    .eventScheduleContainer1 {
        height: 400px;
    }

    .eventScheduleContainer2 {
        height: 400px;
    }

    .eventScheduleBox {
        width: 352px;
        height: 229px;
        background-color: rgb(255, 255, 255, .9);
        position: relative;
        left: 142px;
        top: 69px;
        z-index: 3;
    }

    .eventSchedule {
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        text-align: left;
        box-sizing: border-box;
    }
}

@media screen and (max-width:699px) and (min-width:300px) {

    /* header */
    .header {
        height: 539px;
    }

    /* Gallery Section */
    .img-ex {
        display: none;
    }

    /* Boday */
    .bodyTxt p {
        left: 0;
        font-weight: bold;
        color: #414f6b;
        width: 510px;
        height: auto;
        background-color: rgb(240, 248, 255, 0.8);
        padding: 2rem;

    }

    /* Container Bottom */
    #team {
        font-size: 120px;
    }

    .bodyBottom .bodyBottomNo {
        width: 152px;
    }

    .bodyBottomTxt {
        top: -28px;
    }

    .bodyBottomPara {
        display: block;
        top: 0;
        left: 0;
        width: 502px;
        height: 5px;
    }

    /* Event */
    .event {
        height: 456px;
    }

    .eventScheduleContainer1 {
        height: 400px;
    }

    .eventScheduleContainer2 {
        height: 400px;
    }

    .eventScheduleBox {
        width: 352px;
        height: 229px;
        background-color: rgb(255, 255, 255, .9);
        position: relative;
        left: 116px;
        top: 69px;
        z-index: 3;
    }

    .eventSchedule {
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        text-align: left;
        box-sizing: border-box;
    }
}